/* VARIABLES GLOBALES */


/* COLORES */

$color_principal: #33c3f0;
$color_secundario: #741d51;
$color_terciario: #e44e52;
$color_gris: #f2f2f2;
$color_blanco: #ffffff;
$color_negro: #000000;

/* FUENTES */

$fuente_principal: "Raleway",
sans-serif;

/* Variables Media Querys */

$iphone: 320px;
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$unoCarrito: 401px;