.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        padding: 0.5rem 1rem;
    }
}

// Ampersan para evitar espacios en blanco
.carrito-compras {
    position: relative;
    margin: 0 1rem;
    cursor: pointer;
    /* &:hover */
    .contenido.oculto {
        display: block;
        position: absolute;
        z-index: 1; // Funciona
        right: 0;
        background-color: $color_gris;
        padding: 1rem;
        max-width: /* 400px */
        auto;
        img {
            max-width: 150px;
        }
        .boton {
            @include boton($color_principal, $color_blanco);
        }
        .botonComprar {
            @include botonComprar($color_principal, $color_blanco);
        }
    }
}

.contenido.oculto {
    display: none;
}


/* Funcionalidad Carrito Compras */


/* .contenedor-lista-carrito {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 0.5rem;
    justify-items: center;
    align-items: center;
} */

.parte-titulos,
.dom-dinamico {
    display: grid;
    grid-template-columns: 100px 80px 50px 80px 50px 50px;
    grid-gap: 0.5rem;
    justify-items: center;
    align-items: center;
    margin-bottom: 0.5rem;
    .img-carrito {
        width: 98px;
    }
    .precio-individual {
        font-weight: bold;
    }
    .container-spinner {
        grid-column: 3 / 4;
        grid-row: 2 / 4;
    }
    .container-mensaje {
        grid-column: 1 / -1;
        text-align: center;
        padding: 1rem;
        font-family: $fuente_principal;
    }
}

.referencia {
    position: relative;
    .agrupar-cantidad {
        display: flex;
        p {
            position: absolute;
            top: 6px;
            left: 27px;
        }
    }
}

.curso-individual {
    background-color: rgb(241, 38, 38);
    border-radius: 100%;
    color: $color_blanco;
    padding: 0.5rem;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    #btn-uno {
        background-color: rgb(241, 38, 38);
        padding: 0.8rem 1rem;
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 1.2rem;
        color: $color_blanco;
    }
}