.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        padding: .5rem 1rem;
    }
}

// Ampersan para evitar espacios en blanco
.carrito-compras {
    position: relative;
    margin: 0 1rem;
    cursor: pointer;
    /* &:hover */
    .contenido.oculto {
        display: block;
        position: absolute;
        z-index: 1; // Funciona
        right: 0;
        background-color: $color_gris;
        padding: 1rem;
        max-width: /* 400px */
        auto;
        img {
            max-width: 150px;
        }
        .boton {
            @include boton($color_principal, $color_blanco);
        }
    }
}

.contenido.oculto {
    display: none;
}


/* Funcionalidad Carrito Compras */

.contenedor-lista-carrito {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
    grid-gap: .5rem;
    justify-items: center;
    align-items: center;
}

.referencia {
    position: relative;
    .agrupar-cantidad {
        display: flex;
        p {
            position: absolute;
            top: 6px;
            left: 27px;
        }
    }
}

.curso-individual {
    background-color: red;
    border-radius: 100%;
    color: $color_blanco;
    padding: .5rem;
}