.centrado {
    text-align: center;
}


/* CODIGO IMPORTANTE ESTILO CARDS */

.cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .curso {
        flex: 1 0 100%;
        margin-bottom: 1rem;
        border: 2px solid $color_gris;
        .imagen-curso {
            width: 100%;
        }
        @include telefono() {
            flex: 0 1 calc(50% - 1rem);
        }
        @include tablet() {
            flex: 0 1 calc(33% - 1rem);
        }
        @include desktop() {
            flex: 0 1 calc(25% - 1rem);
        }
    }
}

.info-curso {
    padding: 1rem;
    h4 {
        font-size: 1.2rem;
    }
    .precio {
        display: flex;
        justify-content: space-between;
        .regular {
            text-decoration: line-through;
            color: red;
        }
        .oferta {
            font-size: 2rem;
            font-weight: 500;
            color: green;
        }
    }
    .boton {
        @include boton($color_principal, $color_blanco);
    }
}