.footer {
    border-top: 1px solid $color_gris;
    @include gradient($color_secundario, $color_terciario);
    height: auto;
    .contenedor-footer {
        display: flex;
        flex-direction: column;
        @include telefono() {
            flex-direction: row;
        }
    }
    .footer-final {
        text-align: center;
        color: $color_blanco;
        font-size: 1.3rem;
        padding: .5rem;
    }
}

.menu {
    @include menus();
}

.enlace.diferente {
    margin-bottom: 0;
}