/* VARIABLES COLORES */
/* 01-StylesGeneral.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 02-StyleContenedor.scss */
.contenedor {
  max-width: 1100px;
  margin: 0 auto;
  border: solid 1px black;
}

/* 03-StyleHeader.scss */
.header {
  display: flex;
  border: solid 1px fuchsia;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  padding: 1.4rem;
}

.carrito-compras {
  position: relative;
  cursor: pointer;
  border: solid yellow 3px;
}

.carrito-compras:hover .contenido.oculto {
  display: block;
  position: absolute;
  border: 2px green dotted;
  right: 0;
  background-color: #e1e1e1;
  padding: 1rem;
  max-width: 400px;
}

.carrito-compras:hover .contenido.oculto img {
  max-width: 150px;
}

.carrito-compras:hover .contenido.oculto .boton {
  background-color: #33c3f0;
  padding: 0.5rem 1rem;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.contenido.oculto {
  display: none;
}
